# ===============================
# Django / Python
# ===============================

# Python bytecode
*.pyc
*.pyo
__pycache__/
*.so

# Environment files
.env
*.env
.venv
# Django stuff
db.sqlite3
*.log
media/
staticfiles/
__pycache__/

# IDE / editor files
.vscode/
.idea/
*.swp
*.swo

# ===============================
# React / Node
# ===============================

# Node modules
frontend/node_modules/

# Build outputs
frontend/build/
frontend/.cache/
frontend/dist/

# Logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Env files
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# IDE / editor files inside frontend
frontend/.vscode/
frontend/.idea/
frontend/*.swp

./medical/uploads/**/**